# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store/

# testing
/coverage
/test-results/
/playwright-report/
/playwright/.cache/
/cypress/videos/
/cypress/screenshots/

# next.js
/.next/
/out/
.swc/
.turbo
.next-boost
.vercel
next-env.d.ts

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db
desktop.ini

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.stackdump

# local env files
.env*.local
.env
.env.development
.env.test
.env.production
.env.development.local
.env.test.local
.env.production.local

# caching & compilation
.eslintcache
.stylelintcache
*.tsbuildinfo
.babel-cache
.cache/
tsconfig.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
.history
.ionide

# macOS
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Windows
$RECYCLE.BIN/
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msm
*.msp
*.lnk

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cursor
.cursor/
.cursor/rules/.cursorrules
.cursor/settings.json

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# Optional: Storybook
/storybook-static

# Optional: Outputs
/sitemap*.xml
/robots.txt
